header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    background-color: rgb(239, 239, 244);
    padding-bottom: 8px;
}

.arrays {
    font-size: 13px;
    font-weight: bold;
    padding: 4px 11px;
    display: block;
    margin-right: 4px;
    background-color: rgba(216, 223, 234);
    color: rgba(59, 89, 152);
    cursor: pointer;
}

.arrays:hover {
    background-color: rgba(98, 122, 173);
    color: white;
}