.cardsContainer {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.rightToLeft {
    animation-name: rightToLeft;
    animation-duration: .8s;
}

@keyframes rightToLeft {
    0% {
        opacity: 0%;
        transform: translateX(200px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 9px;
    margin: 14px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(191deg, rgba(1, 67, 117, 1) 15%, rgba(147, 191, 246, 1) 100%);
    color: white;
    font-weight: 600;
}

.word {
    max-width: 90%;
    text-align: center;
    word-wrap: break-word;
}

.modalAnswer {
    display: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 244);
    margin-top: 50px;
    border: 1px solid #c0c0ea;
}

.btnAnswer {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    width: 120px;
    text-align: center;

}

.btn-no {
    /* border: 1px solid red; */
    background-color: rgb(236, 97, 97);
}

h1 {
    font-weight: 600;
    font-size: 15px;
}

.background__title {
    margin-bottom: 20px;
}

.background__title h2 {
    color: black;
    font-family: cursive;
    /* background-color: rgb(76, 211, 15); */
}

.background__description {
    display: flex;
    justify-content: center;
    width: 73%;
    text-align: center;
}

.send-word {
    margin-top: 15px;
}

.btn-yes {
    border: 1px solid green;
    background-color: rgb(83, 139, 83);
}

.delete,
.deleteWrong {
    width: 40px;
    cursor: pointer;
    margin-left: 15px;
}

.modalAnswerWrong {
    display: none;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 244);
    margin-top: 50px;
    border: 1px solid #c0c0ea;
}

.btn-next {
    border: 1px solid #0785f5;
    background-color: #3bbfff;
    margin-right: 15px;
}

.modalAnswer>p {
    font-weight: 600;
    margin-right: 15px;
}

/* BACKGROUND */
.background img {
    width: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* PROGRESS BAR */

.compteur {
    margin-bottom: 52px;
    color: black;
    font-weight: 600;
}

.box {
    width: 400px;
    height: 8px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 21px;
}

.box__progressBar {
    position: absolute;
    left: 0;
    width: 0%;
    height: 8px;
    border-radius: 10px;
    background-color: red;
    transition-duration: 1s;
    transition-timing-function: linear;
    z-index: 2;
}

.box__percentils {
    position: absolute;
    left: 0%;
    font-weight: 600;
    transform: translateY(-150%);
    z-index: 2;
    font-size: 12px;
}

.background {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
}



.background p {
    margin-top: 22px;
    font-size:12px;
}

@media screen and (max-width:735px) {
 

    body .delete,
    body .deleteWrong {
        width: 30px;
    }

    body .modalAnswer {
        margin-top: 25px;
        width: 90%;

    }

    body .btn-next {
        width: auto;
    }

    body .box {
        width: 200px;
    }

    /* body header {
        flex-direction: column;
        z-index: 999999999999;
        position: relative;
    } */

    body .modal {
        left: 5%;
        width: 90%;
    }
}