* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    width: 100vw;
    background-color: rgb(239, 239, 244);
}