/* MODAL ANSWER */
.modalAnswer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.modalAnswer__top {
    background-color: rgb(215, 241, 242);
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.btn-no,
.btn-yes {
    color: white;
}

.delete {
    position: absolute;
    top: 3px;
    right: 2px;
}

.modalAnswer__top p {
    font-weight: 600;
}

.modalAnswer__bottom {
    display: flex;
    margin: 15px 0px;
}

.btnAsnwer {
    width: 120px;
}


/* ADDING WORDS MODAL */
.addingWordsModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 15px;
}

.addingWordsModal p {
    font-weight: 600;
    margin: 15px 0px;
}

.input_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal input {
    padding-left: 10px;
    margin: 7px;
    height: 24px;
    border-radius: 3px;
}

.addingWordsModal__top {
    background-image: url("/assets/pictures/add_img.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.add-arrondi {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    float: right;
}


/* MODAL SEARCH BAR */
.modal_SearchBar {
    display: none;
    transform: translateY(200px);
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    position: absolute;
    z-index: 9999999999;
    left: 25%;
}

/* MODAL CARD HANDLE */
.CardHandle {
    display: none;
    flex-direction: column;
    transform: translateY(200px);
    background-color: white;
    border: 1px solid black;
    /* padding: 15px; */
    position: absolute;
    z-index: 9999999999;
    width: 95vw;
}

.CardHandle__menu {
    display: flex;
    justify-content: flex-end;
}

.CardHandle__menu__words {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.CardHandle__menu__words p {
    margin: 15px 0px;
}

.CardHandle__operations {
    display: flex;
    justify-content: center;
}

.CardHandle__operations p {
    margin-right: 15px;
}

/* OPTION MODAL */
.optionsModal {
    display: none;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    position: absolute;
    width: 95vw;
    height: 100vh;
    position: relative;
    z-index: 99999;
}

.optionsModal__options {
    display: flex;
    flex-direction: column;
}

.optionsModal--title {
    font-weight: 600;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 15px;
}

.btnOptions {
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.optionsModal .btn {
    margin-right: 10px;
}

.modal {
    transform: translateY(-1053px);
    transition-duration: .4s;
    padding: 20px;
    width: 400px;
    margin: auto;
    background-color: white;
    z-index: 9999;
    position: absolute;
    left: 40%;
}

/* USER MODAL */
.userModal {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    padding-top: 25px;
    background-color: white;
    width: 100%;
    padding-bottom: 600px;
    margin: 0px;
    padding-left: 15px;
    height: 700px;
    left: 0px;
}

.iconDrew {
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
}
.drewBlue{
    background-color: rgb(16,81,179);
}
.drewGreen{
    background-color: rgb(16,132,68);
}


/* VOCABULARY MODAL */
.vocabularyModal {
    display: none;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    position: absolute;
    width: 95vw;
    height: 100vh;
    position: relative;
    z-index: 99999;
    position:absolute;
    left: 0px;
}