/* OPTION MODAL */

.optionsModal {
    display: none;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    position: absolute;
    width: 95vw;
    height: 100vh;
    position: relative;
    z-index: 99999;
}

.optionsModal__options {
    display: flex;
    flex-direction: column;
}

.optionsModal--title {
    font-weight: 600;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 15px;
}

.btnOptions {
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.optionsModal .btn {
    margin-right: 10px;
}

.modal {
    transform: translateY(-932px);
    transition-duration: .4s;
    padding: 20px;
    width: 400px;
    margin: auto;
    background-color: white;
    z-index: 9999;
    position: absolute;
    left: 40%;
}

/* ADDING WORDS MODAL */
.addingWordsModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
  padding: 15px;
}

.addingWordsModal p{
    font-weight: 600;
    margin: 15px 0px;
}

.input_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal input {
    padding-left: 10px;
    margin: 7px;
    height: 24px;
    border-radius: 3px;
}

.addingWordsModal__top {
    background-image: url("/assets/pictures/add_img.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.add-arrondi {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    float: right;
}